flows.json
[{"id":"8448c716.571268","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e87261bd.4b71a8","type":"mqtt in","z":"8448c716.571268","name":"HUMI","topic":"DHT11_HUMI","qos":"1","datatype":"auto","broker":"89894ce1.88f7e8","x":170,"y":180,"wires":[["698bcf64.466c38","98c3494b.cfc958"]]},{"id":"98c3494b.cfc958","type":"ui_text","z":"8448c716.571268","group":"3ea4f3d7.18324c","order":3,"width":0,"height":0,"name":"","label":"ĐỘ ẨM ","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":100,"wires":[]},{"id":"f0119b9.a5500e8","type":"mqtt in","z":"8448c716.571268","name":"TEMP","topic":"DHT11_TEMP","qos":"1","datatype":"auto","broker":"89894ce1.88f7e8","x":190,"y":320,"wires":[["4b2497d.299c0e8","59e0167b.ec6068"]]},{"id":"4b2497d.299c0e8","type":"ui_text","z":"8448c716.571268","group":"3ea4f3d7.18324c","order":3,"width":0,"height":0,"name":"","label":"Nhiệt độ ","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":260,"wires":[]},{"id":"dfd28f57.09801","type":"debug","z":"8448c716.571268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"698bcf64.466c38","type":"firebase modify","z":"8448c716.571268","name":"","firebaseconfig":"","childpath":"m/HOST/HUMI","method":"set","value":"msg.payload","priority":"msg.priority","x":520,"y":180,"wires":[["dfd28f57.09801"]]},{"id":"bf2ba13c.fbfb78","type":"debug","z":"8448c716.571268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":320,"wires":[]},{"id":"59e0167b.ec6068","type":"firebase modify","z":"8448c716.571268","name":"","firebaseconfig":"","childpath":"m/HOST/TEMP","method":"set","value":"msg.payload","priority":"msg.priority","x":540,"y":320,"wires":[["bf2ba13c.fbfb78"]]},{"id":"89894ce1.88f7e8","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ea4f3d7.18324c","type":"ui_group","name":"Default","tab":"f195b12e.5c998","order":1,"disp":true,"width":"6","collapse":false},{"id":"f195b12e.5c998","type":"ui_tab","name":"HOST","icon":"dashboard","disabled":false,"hidden":false}]