flows-1.json
[{"id":"a0b55ab3.929bd8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5bffa4b6.ffa594","type":"firebase modify","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/Device2/led1 ","method":"set","value":"msg.payload","priority":"msg.priority","x":550,"y":240,"wires":[["16ed72e4.fc73dd"]]},{"id":"16ed72e4.fc73dd","type":"debug","z":"a0b55ab3.929bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":240,"wires":[]},{"id":"97c12b65.f48ae8","type":"ui_button","z":"a0b55ab3.929bd8","name":"","group":"4d8419eb.72226","order":1,"width":0,"height":0,"passthru":true,"label":"ON ","tooltip":"","color":"red ","bgcolor":"","icon":"fa-circle","payload":"1","payloadType":"str","topic":"LED1 ","x":570,"y":60,"wires":[["8b170c77.e4002"]]},{"id":"f0ed0bef.d66ec8","type":"ui_button","z":"a0b55ab3.929bd8","name":"","group":"4d8419eb.72226","order":2,"width":0,"height":0,"passthru":true,"label":"OFF ","tooltip":"","color":"blue ","bgcolor":"","icon":"fa-circle ","payload":"0","payloadType":"str","topic":"LED1 ","x":570,"y":180,"wires":[["8b170c77.e4002"]]},{"id":"8b170c77.e4002","type":"mqtt out","z":"a0b55ab3.929bd8","name":"","topic":"LED1_2","qos":"1","retain":"true","broker":"b9935ae7.81f05","x":760,"y":120,"wires":[]},{"id":"93db2a37.d72f28","type":"ui_button","z":"a0b55ab3.929bd8","name":"","group":"565b1e5f.62219","order":1,"width":0,"height":0,"passthru":true,"label":"ON ","tooltip":"","color":"red ","bgcolor":"","icon":"fa-circle ","payload":"1","payloadType":"str","topic":"LED2 ","x":570,"y":420,"wires":[["6a52dda7.a2dd7c"]]},{"id":"32a82b05.7816e4","type":"ui_button","z":"a0b55ab3.929bd8","name":"","group":"565b1e5f.62219","order":2,"width":0,"height":0,"passthru":true,"label":"OFF ","tooltip":"","color":"blue ","bgcolor":"","icon":"fa-circle ","payload":"0","payloadType":"str","topic":"LED2 ","x":570,"y":540,"wires":[["6a52dda7.a2dd7c"]]},{"id":"6a52dda7.a2dd7c","type":"mqtt out","z":"a0b55ab3.929bd8","name":"","topic":"LED2_2","qos":"1","retain":"true","broker":"b9935ae7.81f05","x":800,"y":480,"wires":[]},{"id":"bab6d1ef.a14418","type":"mqtt in","z":"a0b55ab3.929bd8","name":"","topic":"LED1_2","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":200,"y":240,"wires":[["5bffa4b6.ffa594"]]},{"id":"480a21a.2522ae","type":"switch","z":"a0b55ab3.929bd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1000,"wires":[["4fac47bb.b67098"],["5f89d9ec.f528b"]]},{"id":"4fac47bb.b67098","type":"change","z":"a0b55ab3.929bd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":960,"wires":[["f384a542.daea8"]]},{"id":"5f89d9ec.f528b","type":"change","z":"a0b55ab3.929bd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1020,"wires":[["f384a542.daea8"]]},{"id":"f384a542.daea8","type":"ui_text","z":"a0b55ab3.929bd8","group":"565b1e5f.62219","order":4,"width":0,"height":0,"name":"","label":"State2 ","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":980,"wires":[]},{"id":"76a95211.f203bc","type":"switch","z":"a0b55ab3.929bd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":840,"wires":[["e28d5849.b4909"],["704b68f8.eb8018"]]},{"id":"e28d5849.b4909","type":"change","z":"a0b55ab3.929bd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":820,"wires":[["51443b02.b5beb4"]]},{"id":"704b68f8.eb8018","type":"change","z":"a0b55ab3.929bd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":880,"wires":[["51443b02.b5beb4"]]},{"id":"51443b02.b5beb4","type":"ui_text","z":"a0b55ab3.929bd8","group":"4d8419eb.72226","order":6,"width":0,"height":0,"name":"","label":"State1 ","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":860,"wires":[]},{"id":"597798a5.a84f08","type":"firebase.on","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/Device2/led1 ","atStart":true,"eventType":"value","queries":[],"x":380,"y":120,"wires":[["8b170c77.e4002"]]},{"id":"854a90c6.764f6","type":"firebase.on","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/Device2/led2 ","atStart":true,"eventType":"value","queries":[],"x":420,"y":480,"wires":[["6a52dda7.a2dd7c"]]},{"id":"dbd1786b.2f8108","type":"mqtt in","z":"a0b55ab3.929bd8","name":"","topic":"State1_2","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":200,"y":300,"wires":[["33224db2.b74fea","31e3973b.2454a"]]},{"id":"33224db2.b74fea","type":"firebase modify","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/Device2/state1 ","method":"set","value":"msg.payload","priority":"msg.priority","x":550,"y":300,"wires":[["8c29992f.b21b7"]]},{"id":"8c29992f.b21b7","type":"debug","z":"a0b55ab3.929bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":300,"wires":[]},{"id":"31821675.c49de2","type":"firebase modify","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/Device2/led2 ","method":"set","value":"msg.payload","priority":"msg.priority","x":550,"y":600,"wires":[["6a2d585c.4f5368"]]},{"id":"6a2d585c.4f5368","type":"debug","z":"a0b55ab3.929bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":600,"wires":[]},{"id":"e58d30fb.c5e478","type":"mqtt in","z":"a0b55ab3.929bd8","name":"","topic":"LED2_2","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":200,"y":600,"wires":[["31821675.c49de2"]]},{"id":"29d50dcf.f1a6aa","type":"mqtt in","z":"a0b55ab3.929bd8","name":"","topic":"State2_2","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":200,"y":660,"wires":[["c39772de.744a68","593c9f52.658ba"]]},{"id":"c39772de.744a68","type":"firebase modify","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/Device2/state2 ","method":"set","value":"msg.payload","priority":"msg.priority","x":550,"y":660,"wires":[["2efc3629.c63b62"]]},{"id":"2efc3629.c63b62","type":"debug","z":"a0b55ab3.929bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":660,"wires":[]},{"id":"dbca7a42.478e6","type":"mqtt in","z":"a0b55ab3.929bd8","name":"","topic":"State1_2","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":360,"y":840,"wires":[["76a95211.f203bc"]]},{"id":"6336c317.c1c444","type":"mqtt in","z":"a0b55ab3.929bd8","name":"","topic":"State2_2","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":360,"y":1000,"wires":[["480a21a.2522ae"]]},{"id":"31e3973b.2454a","type":"firebase modify","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/state3 ","method":"set","value":"msg.payload","priority":"msg.priority","x":540,"y":360,"wires":[["8c29992f.b21b7"]]},{"id":"593c9f52.658ba","type":"firebase modify","z":"a0b55ab3.929bd8","name":"","firebaseconfig":"","childpath":"m/state4 ","method":"set","value":"msg.payload","priority":"msg.priority","x":560,"y":720,"wires":[["2efc3629.c63b62"]]},{"id":"4d8419eb.72226","type":"ui_group","z":"","name":"RELAY1","tab":"a1ebc79d.ead238","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9935ae7.81f05","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.105","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"565b1e5f.62219","type":"ui_group","z":"","name":"RELAY2 ","tab":"a1ebc79d.ead238","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1ebc79d.ead238","type":"ui_tab","z":"","name":"THIẾT BỊ 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]