flows.json
[{"id":"be9ab1ab.35fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"58f8e59c.278f34","type":"firebase modify","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/Device1/led1 ","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":220,"wires":[["a915767a.12f4e"]]},{"id":"a915767a.12f4e","type":"debug","z":"be9ab1ab.35fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":220,"wires":[]},{"id":"9d7311f7.590bc8","type":"ui_button","z":"be9ab1ab.35fe","name":"","group":"9db03e76.0f557","order":1,"width":0,"height":0,"passthru":true,"label":"ON ","tooltip":"","color":"red ","bgcolor":"","icon":"fa-circle","payload":"1","payloadType":"str","topic":"LED1 ","x":610,"y":40,"wires":[["fb5e18ab.3a4ed8"]]},{"id":"6f382aaa.9034bc","type":"ui_button","z":"be9ab1ab.35fe","name":"","group":"9db03e76.0f557","order":2,"width":0,"height":0,"passthru":true,"label":"OFF ","tooltip":"","color":"blue ","bgcolor":"","icon":"fa-circle ","payload":"0","payloadType":"str","topic":"LED1 ","x":610,"y":160,"wires":[["fb5e18ab.3a4ed8"]]},{"id":"fb5e18ab.3a4ed8","type":"mqtt out","z":"be9ab1ab.35fe","name":"","topic":"LED1_1","qos":"1","retain":"true","broker":"b9935ae7.81f05","x":800,"y":100,"wires":[]},{"id":"40907a42.80a16c","type":"ui_button","z":"be9ab1ab.35fe","name":"","group":"848f715f.032868","order":1,"width":0,"height":0,"passthru":true,"label":"ON ","tooltip":"","color":"red ","bgcolor":"","icon":"fa-circle ","payload":"1","payloadType":"str","topic":"LED2 ","x":610,"y":420,"wires":[["1dec3e07.9e884a"]]},{"id":"ec873542.5bb3f","type":"ui_button","z":"be9ab1ab.35fe","name":"","group":"848f715f.032868","order":2,"width":0,"height":0,"passthru":true,"label":"OFF ","tooltip":"","color":"blue ","bgcolor":"","icon":"fa-circle ","payload":"0","payloadType":"str","topic":"LED2 ","x":610,"y":540,"wires":[["1dec3e07.9e884a"]]},{"id":"1dec3e07.9e884a","type":"mqtt out","z":"be9ab1ab.35fe","name":"","topic":"LED2_1","qos":"1","retain":"true","broker":"b9935ae7.81f05","x":840,"y":480,"wires":[]},{"id":"48375e38.48c1c8","type":"mqtt in","z":"be9ab1ab.35fe","name":"","topic":"LED1_1","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":240,"y":220,"wires":[["58f8e59c.278f34"]]},{"id":"86f602bd.11e5a8","type":"switch","z":"be9ab1ab.35fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":980,"wires":[["66cc03be.a36064"],["7f810a37.257d14"]]},{"id":"66cc03be.a36064","type":"change","z":"be9ab1ab.35fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":940,"wires":[["37c4fc2e.184974"]]},{"id":"7f810a37.257d14","type":"change","z":"be9ab1ab.35fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1000,"wires":[["37c4fc2e.184974"]]},{"id":"37c4fc2e.184974","type":"ui_text","z":"be9ab1ab.35fe","group":"848f715f.032868","order":4,"width":0,"height":0,"name":"","label":"State2 ","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":960,"wires":[]},{"id":"d73ed4e4.5a071","type":"switch","z":"be9ab1ab.35fe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":820,"wires":[["1dba8594.cbadba"],["d458de07.bcd1a"]]},{"id":"1dba8594.cbadba","type":"change","z":"be9ab1ab.35fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":800,"wires":[["7dcb6489.dbd6fc"]]},{"id":"d458de07.bcd1a","type":"change","z":"be9ab1ab.35fe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":860,"wires":[["7dcb6489.dbd6fc"]]},{"id":"7dcb6489.dbd6fc","type":"ui_text","z":"be9ab1ab.35fe","group":"9db03e76.0f557","order":6,"width":0,"height":0,"name":"","label":"State1 ","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":840,"wires":[]},{"id":"ea92dff7.54e15","type":"firebase.on","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/Device1/led1 ","atStart":true,"eventType":"value","queries":[],"x":420,"y":100,"wires":[["fb5e18ab.3a4ed8"]]},{"id":"13576d.e6862893","type":"firebase.on","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/Device1/led2 ","atStart":true,"eventType":"value","queries":[],"x":460,"y":480,"wires":[["1dec3e07.9e884a"]]},{"id":"7bb3fa91.4b8b24","type":"mqtt in","z":"be9ab1ab.35fe","name":"","topic":"State1_1","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":240,"y":280,"wires":[["a0bf8452.2d509","b5bb4297.b25418"]]},{"id":"a0bf8452.2d509","type":"firebase modify","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/Device1/state1 ","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":280,"wires":[["48b1db45.ee51ec"]]},{"id":"48b1db45.ee51ec","type":"debug","z":"be9ab1ab.35fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":280,"wires":[]},{"id":"6a66afbc.c2be7","type":"firebase modify","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/Device1/led2 ","method":"set","value":"msg.payload","priority":"msg.priority","x":610,"y":600,"wires":[["88c97697.0f9998"]]},{"id":"88c97697.0f9998","type":"debug","z":"be9ab1ab.35fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":600,"wires":[]},{"id":"4089bb0d.700804","type":"mqtt in","z":"be9ab1ab.35fe","name":"","topic":"LED2_1","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":260,"y":600,"wires":[["6a66afbc.c2be7"]]},{"id":"ee11a06f.fda8d","type":"mqtt in","z":"be9ab1ab.35fe","name":"","topic":"State2_1","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":260,"y":660,"wires":[["2fd452ee.7871fe","d9e58bd1.d89a88"]]},{"id":"2fd452ee.7871fe","type":"firebase modify","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/Device1/state2 ","method":"set","value":"msg.payload","priority":"msg.priority","x":610,"y":660,"wires":[["6ba5492e.9b94f8"]]},{"id":"6ba5492e.9b94f8","type":"debug","z":"be9ab1ab.35fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":660,"wires":[]},{"id":"36677555.230aca","type":"mqtt in","z":"be9ab1ab.35fe","name":"","topic":"State1_1","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":360,"y":820,"wires":[["d73ed4e4.5a071"]]},{"id":"d249798d.16a1b","type":"mqtt in","z":"be9ab1ab.35fe","name":"","topic":"State2_1","qos":"1","datatype":"auto","broker":"b9935ae7.81f05","x":360,"y":980,"wires":[["86f602bd.11e5a8"]]},{"id":"b5bb4297.b25418","type":"firebase modify","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/state1 ","method":"set","value":"msg.payload","priority":"msg.priority","x":600,"y":340,"wires":[["48b1db45.ee51ec"]]},{"id":"d9e58bd1.d89a88","type":"firebase modify","z":"be9ab1ab.35fe","name":"","firebaseconfig":"","childpath":"m/state2 ","method":"set","value":"msg.payload","priority":"msg.priority","x":620,"y":720,"wires":[["6ba5492e.9b94f8"]]},{"id":"9db03e76.0f557","type":"ui_group","z":"","name":"RELAY1","tab":"6f13a259.c26f8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9935ae7.81f05","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.105","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"848f715f.032868","type":"ui_group","z":"","name":"RELAY2 ","tab":"6f13a259.c26f8c","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f13a259.c26f8c","type":"ui_tab","z":"","name":"THIẾT BỊ 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]