flows.json
[{"id":"f52b7dfc.e95bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2247c17d.f92ad6","type":"firebase modify","z":"f52b7dfc.e95bc","name":"Control_FAN","firebaseconfig":"","childpath":"stream/device/fan","method":"set","value":"msg.payload","priority":"msg.priority","x":270,"y":60,"wires":[[]]},{"id":"282620e9.5ab6f8","type":"firebase.on","z":"f52b7dfc.e95bc","name":"HUMI","firebaseconfig":"","childpath":"sensor/DHT11/humi","atStart":true,"eventType":"value","queries":[],"x":250,"y":1000,"wires":[["2e1950ee.ac5a8"]]},{"id":"180ee9f6.2d644e","type":"firebase.on","z":"f52b7dfc.e95bc","name":"TEMP","firebaseconfig":"","childpath":"sensor/DHT11/temp","atStart":true,"eventType":"value","queries":[],"x":250,"y":1060,"wires":[["e5f907d.c83bdf8"]]},{"id":"6d508c66.f39bd4","type":"firebase.on","z":"f52b7dfc.e95bc","name":"GAS","firebaseconfig":"","childpath":"sensor/GAS","atStart":true,"eventType":"value","queries":[],"x":250,"y":1180,"wires":[["f8b691b.f833c7"]]},{"id":"2dcca8e7.c438e8","type":"firebase.on","z":"f52b7dfc.e95bc","name":"LIGHT_SENSOR","firebaseconfig":"","childpath":"sensor/LIGHT","atStart":true,"eventType":"value","queries":[],"x":240,"y":1600,"wires":[["35f57173.893c8e"]]},{"id":"7b3ad600.d51da8","type":"firebase.on","z":"f52b7dfc.e95bc","name":"PIR","firebaseconfig":"","childpath":"sensor/PIR","atStart":true,"eventType":"value","queries":[],"x":250,"y":1460,"wires":[["a381b8e5.09db68"]]},{"id":"8eefcc55.fb89","type":"firebase.on","z":"f52b7dfc.e95bc","name":"RAIN","firebaseconfig":"","childpath":"sensor/RAIN","atStart":true,"eventType":"value","queries":[],"x":250,"y":1320,"wires":[["58b65c32.7ccfc4"]]},{"id":"1f05efaf.69b09","type":"firebase.on","z":"f52b7dfc.e95bc","name":"FAN","firebaseconfig":"","childpath":"stream/device/fan","atStart":true,"eventType":"value","queries":[],"x":410,"y":100,"wires":[["8093e5af.64a5e8"]]},{"id":"58b65c32.7ccfc4","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1320,"wires":[["829b8d39.31cb98"],["41e2d019.2691a"]]},{"id":"829b8d39.31cb98","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1280,"wires":[["43354b93.e55adc"]]},{"id":"43354b93.e55adc","type":"ui_text","z":"f52b7dfc.e95bc","group":"9364fd40.eca8c","order":2,"width":0,"height":0,"name":"RAIN","label":"RAIN","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1320,"wires":[]},{"id":"41e2d019.2691a","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1360,"wires":[["43354b93.e55adc"]]},{"id":"fb121bc1.ded6f","type":"firebase modify","z":"f52b7dfc.e95bc","name":"Control_RELAY","firebaseconfig":"","childpath":"stream/device/relay","method":"set","value":"msg.payload","priority":"msg.priority","x":260,"y":200,"wires":[[]]},{"id":"3cd00b5f.74e464","type":"ui_button","z":"f52b7dfc.e95bc","name":"FAN ON","group":"cbb8ff1f.a125e","order":1,"width":3,"height":1,"passthru":false,"label":"FAN ON","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":40,"wires":[["2247c17d.f92ad6"]]},{"id":"c52631d3.24513","type":"ui_button","z":"f52b7dfc.e95bc","name":"FAN OFF","group":"cbb8ff1f.a125e","order":2,"width":3,"height":1,"passthru":false,"label":"FAN OFF","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":100,"wires":[["2247c17d.f92ad6"]]},{"id":"4c2c8eec.5fc4c","type":"ui_button","z":"f52b7dfc.e95bc","name":"Relay ON","group":"cbb8ff1f.a125e","order":3,"width":3,"height":1,"passthru":false,"label":"Relay ON","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":180,"wires":[["fb121bc1.ded6f"]]},{"id":"7bde5eb6.2a7cf8","type":"ui_button","z":"f52b7dfc.e95bc","name":"Relay OFF","group":"cbb8ff1f.a125e","order":4,"width":3,"height":1,"passthru":false,"label":"Relay OFF","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":240,"wires":[["fb121bc1.ded6f"]]},{"id":"2e1950ee.ac5a8","type":"ui_text","z":"f52b7dfc.e95bc","group":"547f93ad.c2b2b4","order":2,"width":0,"height":0,"name":"HUMI","label":"HUMI","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1000,"wires":[]},{"id":"e5f907d.c83bdf8","type":"ui_text","z":"f52b7dfc.e95bc","group":"547f93ad.c2b2b4","order":1,"width":0,"height":0,"name":"TEMP","label":"TEMP","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1060,"wires":[]},{"id":"f8b691b.f833c7","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1180,"wires":[["6a0d5b9.b4f9ca4"],["92aae69d.6c14e8"]]},{"id":"6a0d5b9.b4f9ca4","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1140,"wires":[["67447cd8.cd9974"]]},{"id":"67447cd8.cd9974","type":"ui_text","z":"f52b7dfc.e95bc","group":"9364fd40.eca8c","order":1,"width":0,"height":0,"name":"GAS","label":"GAS","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1180,"wires":[]},{"id":"92aae69d.6c14e8","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1220,"wires":[["67447cd8.cd9974"]]},{"id":"a381b8e5.09db68","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1460,"wires":[["5181e1d3.7e98f"],["77ea462c.2e272"]]},{"id":"5181e1d3.7e98f","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1420,"wires":[["24a6c289.a1376e"]]},{"id":"24a6c289.a1376e","type":"ui_text","z":"f52b7dfc.e95bc","group":"9364fd40.eca8c","order":3,"width":0,"height":0,"name":"PIR","label":"PIR","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1460,"wires":[]},{"id":"77ea462c.2e272","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1500,"wires":[["24a6c289.a1376e"]]},{"id":"35f57173.893c8e","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1600,"wires":[["288a6fc7.2e69c8"],["617ba66a.054fd8"]]},{"id":"288a6fc7.2e69c8","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1560,"wires":[["aa4cedc0.3de7d"]]},{"id":"aa4cedc0.3de7d","type":"ui_text","z":"f52b7dfc.e95bc","group":"9364fd40.eca8c","order":4,"width":0,"height":0,"name":"Light sensor","label":"Light sensor","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1600,"wires":[]},{"id":"617ba66a.054fd8","type":"change","z":"f52b7dfc.e95bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1640,"wires":[["aa4cedc0.3de7d"]]},{"id":"8093e5af.64a5e8","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":100,"wires":[["1e7ed858.4ac1d"],["d8e5a61e.7636d8"]]},{"id":"1e7ed858.4ac1d","type":"change","z":"f52b7dfc.e95bc","name":"FAN ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[["983cfc02.30dac8"]]},{"id":"d8e5a61e.7636d8","type":"change","z":"f52b7dfc.e95bc","name":"FAN OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":160,"wires":[["983cfc02.30dac8"]]},{"id":"983cfc02.30dac8","type":"ui_text","z":"f52b7dfc.e95bc","group":"e979efd5.fd1568","order":1,"width":0,"height":0,"name":"FAN","label":"FAN","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":100,"wires":[]},{"id":"857a32e9.1c3e1","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":280,"wires":[["a3590338.b7e538"],["aa189924.267fc"]]},{"id":"a3590338.b7e538","type":"change","z":"f52b7dfc.e95bc","name":"RELAY ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":220,"wires":[["ab1e7bc0.7e5d98"]]},{"id":"aa189924.267fc","type":"change","z":"f52b7dfc.e95bc","name":"RELAY OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["ab1e7bc0.7e5d98"]]},{"id":"ab1e7bc0.7e5d98","type":"ui_text","z":"f52b7dfc.e95bc","group":"e979efd5.fd1568","order":2,"width":0,"height":0,"name":"RELAY","label":"RELAY","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":280,"wires":[]},{"id":"240c6752.580338","type":"firebase.on","z":"f52b7dfc.e95bc","name":"RELAY","firebaseconfig":"","childpath":"stream/device/relay","atStart":true,"eventType":"value","queries":[],"x":410,"y":280,"wires":[["857a32e9.1c3e1"]]},{"id":"30f1f8a4.d3d058","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":460,"wires":[["c75c7848.e05f48"],["46e1cf82.354528"]]},{"id":"c75c7848.e05f48","type":"change","z":"f52b7dfc.e95bc","name":"LED1 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[["fe411884.012fa"]]},{"id":"46e1cf82.354528","type":"change","z":"f52b7dfc.e95bc","name":"LED 1 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":520,"wires":[["fe411884.012fa"]]},{"id":"9155caa1.8022f8","type":"firebase.on","z":"f52b7dfc.e95bc","name":"LED1","firebaseconfig":"","childpath":"stream/light/led1","atStart":true,"eventType":"value","queries":[],"x":410,"y":460,"wires":[["30f1f8a4.d3d058"]]},{"id":"fe411884.012fa","type":"ui_text","z":"f52b7dfc.e95bc","group":"e979efd5.fd1568","order":3,"width":0,"height":0,"name":"LED 1","label":"LED 1","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":460,"wires":[]},{"id":"3440ca5d.299ebe","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":640,"wires":[["5c24a6e0.c86db8"],["55d1bf8f.6580f"]]},{"id":"5c24a6e0.c86db8","type":"change","z":"f52b7dfc.e95bc","name":"LED 2 ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":580,"wires":[["44e6b92d.db6e3"]]},{"id":"55d1bf8f.6580f","type":"change","z":"f52b7dfc.e95bc","name":"LED 2 OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":700,"wires":[["44e6b92d.db6e3"]]},{"id":"9623e95e.d8504","type":"firebase.on","z":"f52b7dfc.e95bc","name":"LED2","firebaseconfig":"","childpath":"stream/light/led2","atStart":true,"eventType":"value","queries":[],"x":410,"y":640,"wires":[["3440ca5d.299ebe"]]},{"id":"44e6b92d.db6e3","type":"ui_text","z":"f52b7dfc.e95bc","group":"e979efd5.fd1568","order":4,"width":0,"height":0,"name":"LED 2","label":"LED 2","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":640,"wires":[]},{"id":"498a8394.855e3c","type":"switch","z":"f52b7dfc.e95bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":820,"wires":[["67d1384d.a0f9e8"],["537363ca.dfffcc"]]},{"id":"67d1384d.a0f9e8","type":"change","z":"f52b7dfc.e95bc","name":"DOOR ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":760,"wires":[["96db217c.9faa2"]]},{"id":"537363ca.dfffcc","type":"change","z":"f52b7dfc.e95bc","name":"DOOR OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":880,"wires":[["96db217c.9faa2"]]},{"id":"88444d75.8d9b8","type":"firebase.on","z":"f52b7dfc.e95bc","name":"DOOR","firebaseconfig":"","childpath":"stream/security/door","atStart":true,"eventType":"value","queries":[],"x":410,"y":820,"wires":[["498a8394.855e3c"]]},{"id":"96db217c.9faa2","type":"ui_text","z":"f52b7dfc.e95bc","group":"e979efd5.fd1568","order":5,"width":0,"height":0,"name":"DOOR","label":"DOOR","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":820,"wires":[]},{"id":"e7895349.8c9e8","type":"firebase modify","z":"f52b7dfc.e95bc","name":"Control_LED1","firebaseconfig":"","childpath":"stream/light/led1","method":"set","value":"msg.payload","priority":"msg.priority","x":280,"y":360,"wires":[[]]},{"id":"9bf67b5e.d2e808","type":"ui_button","z":"f52b7dfc.e95bc","name":"LED 1 ON","group":"cbb8ff1f.a125e","order":5,"width":3,"height":1,"passthru":false,"label":"LED 1 ON","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":340,"wires":[["e7895349.8c9e8"]]},{"id":"57379adb.3173d4","type":"ui_button","z":"f52b7dfc.e95bc","name":"LED 1 OFF","group":"cbb8ff1f.a125e","order":6,"width":3,"height":1,"passthru":false,"label":"LED 1 OFF","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":400,"wires":[["e7895349.8c9e8"]]},{"id":"bbe83e05.fdb17","type":"firebase modify","z":"f52b7dfc.e95bc","name":"Control_LED2","firebaseconfig":"","childpath":"stream/light/led2","method":"set","value":"msg.payload","priority":"msg.priority","x":280,"y":540,"wires":[[]]},{"id":"9b0e64b0.e0109","type":"ui_button","z":"f52b7dfc.e95bc","name":"LED 2 ON","group":"cbb8ff1f.a125e","order":7,"width":3,"height":1,"passthru":false,"label":"LED 2 ON","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":520,"wires":[["bbe83e05.fdb17"]]},{"id":"e297b9c5.91f0d","type":"ui_button","z":"f52b7dfc.e95bc","name":"LED 2 OFF","group":"cbb8ff1f.a125e","order":8,"width":3,"height":1,"passthru":false,"label":"LED 2 OFF","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":580,"wires":[["bbe83e05.fdb17"]]},{"id":"e7b669a5.3a7d2","type":"firebase modify","z":"f52b7dfc.e95bc","name":"Control_Door","firebaseconfig":"","childpath":"stream/security/door","method":"set","value":"msg.payload","priority":"msg.priority","x":290,"y":720,"wires":[[]]},{"id":"564a38a4.5421a","type":"ui_button","z":"f52b7dfc.e95bc","name":"DOOR OPEN","group":"cbb8ff1f.a125e","order":9,"width":3,"height":1,"passthru":false,"label":"DOOR OPEN","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":700,"wires":[["e7b669a5.3a7d2"]]},{"id":"49c39748.981008","type":"ui_button","z":"f52b7dfc.e95bc","name":"DOOR CLOSE","group":"cbb8ff1f.a125e","order":10,"width":3,"height":1,"passthru":false,"label":"DOOR CLOSE","tooltip":"","color":"black","bgcolor":"#097979","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":760,"wires":[["e7b669a5.3a7d2"]]},{"id":"9364fd40.eca8c","type":"ui_group","name":"SENSOR","tab":"e1a32499.ca9ef","order":3,"disp":true,"width":5,"collapse":false},{"id":"cbb8ff1f.a125e","type":"ui_group","name":"DEVICE","tab":"e1a32499.ca9ef","order":4,"disp":true,"width":6,"collapse":false},{"id":"547f93ad.c2b2b4","type":"ui_group","name":"DHT11","tab":"e1a32499.ca9ef","order":1,"disp":true,"width":5,"collapse":false},{"id":"e979efd5.fd1568","type":"ui_group","name":"STATE","tab":"e1a32499.ca9ef","order":4,"disp":true,"width":5,"collapse":false},{"id":"e1a32499.ca9ef","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]